.site-footer {
  margin-left: 0px;
  padding: 5% 10% 5% 10%;
  //@extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
}
